.navbar{
    height: 8vh;
    width: 100%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo{
    margin: 2vh;
    margin-left: 4vh;
    font-size: larger;
    font-weight: bold;
}

.myAccount{
    margin: 2vh;
    margin-left: 4vh;
    font-size: larger;
    font-weight: bold;
}

.logoutbtn{
    margin-top: -5px;
    width: 100px;
    height: 35px;
    font-size: medium;
    font-weight: bold;
    background-color: blue;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}